<div class="table-responsive">
    <nav class="navbar navbar-default navbar-static-top" role="navigation">
        <form class="navbar-form navbar-left" role="search" id="form-search">
            <button type="button" class="btn btn-default" id="search-btn">Искать</button>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Вакансия" name="search">
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Язык</span>
                <select class="form-control " name="lang">
                    <option selected="selected" value="">Любой</option>
                    <option value="ru">Rus</option>
                    <option value="eng">Eng</option>
                </select>
            </div>
            <div class="form-group input-group">
                <span class="input-group-addon">Отдел</span>
                <select class="form-control" name="dep">
                    <option selected="selected" value="">Любой</option>
                    <option value="1">Отдел 1</option>
                    <option value="2">Отдел 2</option>
                </select>
            </div>
            <button type="button" class="btn btn-default" id="create-db-btn">Создать Данные в БД</button>
        </form>
    </nav>

    <table class="table table table-striped table-bordered" id="results-table">
        <thead>
            <tr>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
        </tbody>

    </table>
</div>